{% extends 'generator/schema.html' %}

{% block content %}

<style>
    #dataset-pk-label, #dataset-time-create-label {
        display: none;
    }
</style>

<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    var schema_pk = {{ schema.pk }};
$(document).ready(function() {
  $("#my-form").submit(function(e) {
    e.preventDefault(); // prevent default form submission
    $("#status").text("In progress"); 
     // ajax response
    $.ajax({
      type: "POST",
      url: "{% url 'generate_data' schema_pk=2 %}",
      data: $("#my-form").serialize(),
      success: function(response) {
        $("#status").text("Done");
          $('#dataset-pk').text(response.dataset_pk); 
    $('#dataset-time-create').text(response.dataset_time_create);
    $('#dataset-pk-label').show();
    $('#dataset-time-create-label').show();
    // add dynamic table row
     var tableBody = $('#my-table-body');
    var newRow = $('<tr>');
    newRow.append($('<th>').attr('scope', 'row').text(response.dataset_pk));
    newRow.append($('<td>').text(response.dataset_time_create));
    newRow.append($('<td>').text("Done"));
    newRow.append($('<td>').append($('<a>').attr('href', 'https://www.example.com').addClass('text-primary text-decoration-none').text('Download').css('padding-right', '20px')));
    tableBody.append(newRow);

        // handle successful response from server
      },
      error: function(response) {
        // handle error response from server
      }
    });
  });
});
</script>


<div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-md-8">
        <form id="my-form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-8 d-flex justify-content-end align-items-center">
                    <div class="form-group">
                        <label for="{{ form.num_records.id_for_label }}">Rows:</label>
                        {{ form.num_records }}
                    </div>
                </div>
                <div class="col-sm-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-success" type="submit">Generate data</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-md-8">
            <div class="row">
                <div class="col-sm-8 d-flex justify-content-end align-items-center">
                </div>
                <div class="col-sm-4 d-flex justify-content-end align-items-center">
                   <div id="status" class="badge bg-primary text-wrap" style="width: 6rem;"></div>
                </div>
            </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
